html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 243);
}

form, h3 {
    font-family: "Nunito", sans-serif;
}

h1, h2, header {
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  }

  form{
    padding-top: 5%;
    background-color: rgb(244, 244, 243);
  }

  table{
    width: 50%;
    margin: auto;
    background-color: rgb(254, 254, 255);
  }

  .interface {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-desktop {
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: auto; 
    border-radius: 12px;
    margin-top: -10px;
    height: 2%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 2.5%; 
}

.menu-desktop nav ul {
    list-style-type: none;
    display: flex; 
    padding: 0; 
    margin: 0; 
}

.menu-desktop nav ul li {
    padding: 0 1vw; 
}

.quadrado-esquerdo {
    width: 22%; 
    height: 20%; 
    border-radius: 10px; 
    padding-top: 10%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 10px; 
    border-radius: 12px;
    margin-top: -105px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.quadrado-esquerdo img {
    cursor: pointer;
}

.quadrado-direito {
    width: 20%; 
    height: 15%; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    border-radius: 12px;
    margin-top: -10px;
    background-color: #176431; 
    color: white; 
    font-weight: bold; 
    text-align: center; 
    padding-top: 1%;
    padding-right: 3%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.quadrado-esquerdo img {
    max-width: 55%; 
   
}

header {
    color: rgb(255, 255, 255);
    height: 4%; 
    width: 100%;
    position: fixed;
    font-size: 2vw; 
    z-index: 2;
    margin-top: -10px;
}

.menu-desktop {
    flex-grow: 1;
    text-align: center;
    margin: auto;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    transform: scale(1.25);
}

header nav ul {
    list-style-type: none;
    display: flex; 
}

header nav ul li {
    padding: 0 1vw; 
}

.toggle-button {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    background-color: rgb(0, 0, 0);
    color: rgb(39, 130, 55); 
    border: none; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 20px; 
    cursor: pointer; 
    z-index: 10; 
    display: none; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    transition: 0.25s;
}

.toggle-button:hover {
    transform: scale(1.08);
}

#fundo {
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(fundo.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(239, 238, 233);
    padding-top: 7%;
    padding-bottom: 2%;
}

#fundo2 {
    width: 15%;
    height: 100%;
    margin:auto;
    border-radius: 10px;
    text-align: center;
    background: url(carta.jpg) no-repeat center ;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(86, 86, 86);
    margin-bottom: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
}

p {
    font-size:xx-large;
    height: 3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h1 {
    text-align: center; 
    margin: auto;
    padding-top: 7%;
    padding-bottom: 1%;
}

h2 {
    text-align: center; 
    margin: auto;
    padding-bottom: 1%;
    font-size: x-large;
}

h3 {
    text-align: center; 
    margin: auto;
    padding-bottom: 5%;
    font-size: large;
}

  table{
    width: 50%;
    margin: auto;
    background-color: rgb(254, 254, 255);
    border-collapse: collapse;
  }

  .table-container {
    max-height: 288px;
    overflow-y: hidden;
    transition: overflow 0.3s ease-in-out;
    position: relative;
    display: inline-block;
    max-width: 52%; 
    margin: auto;
}

.table-container:hover {
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 8px;
}

.table-container::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

th, td {
    word-wrap: break-word; 
    padding: 8px;
    text-align: left; 
}

.tudo {
    margin-top: -170px;
}

.turma {
    text-align: center;
    margin: auto;
    padding-bottom: 10%;
}

.s1 {
    text-align: center;
    margin: auto;
    padding-top: 2%;
}

.s1 > div {
    margin-bottom: 20px;
}

.s1 label {
    display: block; 
    margin-bottom: 10px; 
}

.s1 input[type="text"],
.s1 textarea {
    margin-bottom: 20px; 
}

.h1 {
    font-size: xx-large;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#assunto {
    width: 40%;
    height: 2vw;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    font-family: "Nunito", sans-serif;
}
#corpo {
    width: 60%;
    height: 10vw;
    margin: auto;
    font-family: "Nunito", sans-serif;
    padding-top: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
 }


 footer {
    background-color: #000000;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 97.3%;
    padding: 20px;
    color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-size: small;
}

.button-container {
    padding-left: 2.5%;
    margin-bottom: 1%;
}

.pesquisar-button {
    padding-left: 0.5%;
    margin-bottom: 4%;
    width: 100%;
}

.verdezao {
    background-color: #176431; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    width: 70px; 
    height: 70px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    transition: background-color 0.3s ease; 
    margin-right: 40px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
}

.verdezao img {
    max-width: 40px; 
    max-height: 40px;
}

.verdezao:hover {
    background-color: #429860; 
}

.verdezao:active {
    background-color: #145d2b; 
}

.verdinho {
    background-color: #429860; 
    color: #ffffff; 
    padding: 1px 1px; 
    width: 45px;
    height: 45px;
    border-radius: 10px; 
    border: none; 
    cursor: pointer; 
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    transition: background-color 0.3s ease; 
    margin-right: 2%; 
    margin-left: 2% ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    margin-top: 2%;
    margin-bottom: 2%;
}

.verdinho img {
    max-width: 25px; 
    max-height: 25px; 
}

.verdinho:hover {
    background-color: #5bc175; 
}

.verdinho:active {
    background-color: #34a85a; 
}

#turma61, #turma71, #turma81, #turma91, #turma111, #turma121, #turma131 {
        
    width: 100%;
    height:20%;
 }

#enviar {
background-color: #176431; 
border: none; 
border-radius: 10px; 
cursor: pointer; 
width: 10%; 
height: 10%; 
padding-top: 1%;
padding-bottom: 1%;
display: flex; 
justify-content: center; 
align-items: center; 
transition: background-color 0.3s ease; 
margin-left: 50px;
margin: auto;
font-family: "Poppins", sans-serif;
font-size: large;
color: #ffffff;
}

#enviar:hover {
background-color: #429860; 
}

#enviar:active {
background-color: #145d2b; 
}

#limpar {
background-color: #429860; 
color: #ffffff; 
padding: 20px 30px; 
border-radius: 10px; 
border: none; 
cursor: pointer; 
display: flex; 
justify-content: center;
align-items: center; 
transition: background-color 0.3s ease; 
position: relative; 
margin: auto;
font-family: "Poppins", sans-serif;
font-size: large;
}        

#limpar:hover {
background-color: #5bc175; 
}

#limpar:active {
background-color: #34a85a; 
}

.form-aluno {
    padding: 2%;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}

.form-aluno h3 {
    text-align: center;
    color: #176431;
}

.form-aluno label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.form-aluno input,
.form-aluno textarea,
.form-aluno select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-aluno select {
    text-align: center;
}

.form-aluno select:focus {
    border-radius: 8px;
    outline: none; 
}

.form-aluno textarea {
    resize: none;
    height: 120px;
}

.form-aluno button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}

.form-aluno #add-aluno {
    background-color: #176431;
}

.form-aluno #add-aluno:hover {
    background-color: #429860;
}

@media (max-width: 768px) {
    .form-aluno {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .interface {
        justify-content: space-between; 
    }

    .menu-desktop {
        padding-top: 4.5%; 
        font-size: large;
    }
    .quadrado-esquerdo {
        display: none;
    }

    .quadrado-direito {
        margin: 5px 15px; 
        padding-right: 10%;
    }

    .quadrado-direito a {
        font-size:large; 
        width: 150%;
    }

    header {
        padding: -10px 0;
        margin-top: -20px;
    }

    header nav ul {
        flex-direction: row; 
        align-items: center; 
    }

    header nav ul li {
        padding: 5px 10px; 
    }

    #fundo2 {
        width: 40%; 
        margin-bottom: 40px;
        padding-bottom: 4%;
    }

    .h1 {
        font-size: x-large;
    }

    #assunto {
        height: 10%;
    }

    #enviar {
        width: 30%;
    }

    footer {
        width: 93%;
    }
    
    th, td {
        font-size: 12px; 
        padding: 5px; 
        word-wrap: break-word; 
        padding: 8px;
        text-align: left; 
    }
    
    table {
        width: 100%; 
        margin: auto;
        min-width: 600px; 
    }

    .table-container {
        overflow-x: auto; 
        width: 87%; 
        margin: auto;
    }

    .button-container {
        display: flex; 
        justify-content: center; 
        margin-bottom: 8%; 
        margin-top: 8%;
        padding-left: 0%;
    }

    .verdezao {
        margin: 0 10%; 
        width: 60px; 
        height: 60px; 
    }

    .pesquisar-button {
        background-color: #176431;
        width: 73%;
        border-radius: 7px;
        margin: auto;
        word-wrap: break-word;
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }

    .tudo {
        margin: auto;
    }

}

@media (max-width: 480px) {
    .interface {
        flex-direction: column; 
    }

    #fundo {
        background-color: rgb(91, 91, 91); 
        background-image: none; 
        background-size: auto; 
    }

    .quadrado-esquerdo {
        display: none;
    }   

    .quadrado-direito {
        display: none;
    }

    .toggle-button {
        display: block; 
        padding: auto;
        align-items: center;
        justify-content: center;
    }

    .menu-desktop {
        display: none; 
    }

    .menu-desktop.active {
        display: flex; 
        flex-direction: row;
        margin-top: 15px;
        font-size: x-large;
        margin-left: -20px;
    }

    #fundo {
        padding-top: 20%;
    }
    #fundo2 { 
        padding-bottom: 7%;
    }

    footer {
        width: 89%;
    }

    #enviar {
        width: 38%;
    }

    .button-container {
        display: flex; 
        justify-content: center; 
        margin-bottom: 10%; 
        margin-top: 10%;
        padding-left: 0%;
    }

    .verdezao {
        margin: 0 6%; 
        width: 60px; 
        height: 60px; 
    }


    .menu-desktop {
        width: 100%;
        padding-left: 10%;
        padding: 5%;
    }
    th, td {
        font-size: 12px; 
        padding: 5px; 
        word-wrap: break-word; 
        padding: 8px;
        text-align: left; 
    }
    
    table {
        width: 100%; 
        margin: auto;
        min-width: 600px; 
    }

    .turma {
        margin-bottom: 20%;
    }

    .table-container {
        overflow-x: auto; 
        width: 87%; 
        margin: auto;
    }

    .pesquisar-button {
        padding-left: 1%;
        background-color: #176431;
        width: 99%;
        border-radius: 0px;
        word-wrap: break-word;
        display: flex;
        justify-content: center;
    }

    .tudo {
        margin: auto;
    }
}
